# Rename this file to .env and fill in the required values.
#  $ mv env.example .env

# required for both dev and prod
export GOOGLE_CLIENT_ID=                                        # See https://bit.ly/3a4rInp for google secrets
export GOOGLE_CLIENT_SECRET=
export GOOGLE_REDIRECT_URI=

# required for prod
export SECRET_KEY_BASE=                                         # mix phx.gen.secret to generate one
export DATABASE_URL="ecto://username:password@host/database"    # See https://bit.ly/2RzDb86

# optional for prod (defaults below)
export PORT=4000                                                # http port
export POOL_SIZE=10                                             # database pool size
export REDIRECT_URL=http://localhost:8080                       # redirect after authentication was successful